<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Money Making Radar - We Find Scam For You</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link href="//cdn.muicss.com/mui-0.9.9/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/post.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Reviews</a></li>
                <li><a href="#contact">Industries</a></li>
                <li><a href="#contact">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="navbar-extra"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-container">
                {% if review.verified == 1 %}
                    <div class="block-tag block-tag-verified block-tag-lg">VERIFIED</div>
                {% else %}
                    <div class="block-tag block-tag-scam block-tag-lg">SCAM</div>
                {% endif %}
                <h1>{{ review.title }} Review</h1>
                <div class="post-body">
                    <div class="post-content">
                       {{ review.content }}
                    </div>
                    <h2>Overall Review Results</h2>

                    <div class="summurized">
                        <div class="summ-box">
                            {% if reviewResults[0] == 1 %}
                                <h3> <span class="fa fa-check"></span> Security</h3>
                                Deposit is very safe and secured trough HTTP which is the most
                                secured way of buying online
                            {% elseif reviewResults[0] == 0 %}
                                <h3> <span class="fa fa-times"></span> Security</h3>
                                Deposit and website is not safe, your payment info can easly
                                be stolen and used, this risk should never be taken even if the offer
                                has proven money making method
                            {% endif %}

                        </div>
                    </div>
                    <div class="summurized">
                        <div class="summ-box">
                            {% if reviewResults[1] == 1 %}
                                <h3> <span class="fa fa-check"></span> Money Making</h3>
                                Money Making is real, i was able to make a profit out of it.
                                The amount of profit is above 25% of my initial investment within 14 days
                            {% elseif reviewResults[1] == 0 %}
                                <h3> <span class="fa fa-times"></span> Money Making</h3>
                                You wont make a penny out of it.. you will also high likely to lose
                                all your initial investment. {{ review.title }} is absolute scam
                            {% endif %}
                        </div>
                    </div>
                    <div class="summurized">
                        <div class="summ-box">

                            {% if reviewResults[2] == 1 %}
                                <h3> <span class="fa fa-check"></span> Withdrawal</h3>
                                Withdrawal is legit, 1K Daily Profit transfer the money within 14 days, you receive
                                the money directly to your bank, 1K Daily Profit also support multiple money transfer methods
                            {% elseif reviewResults[2] == 0 %}
                                <h3> <span class="fa fa-times"></span> Withdrawal</h3>
                                Withdrawal is possible tough its really hard, they will call you and try
                                to convince you not to withdrawal, they will try to offer you a free money bonus
                                that you eventually will lose anyway.
                            {% endif %}
                        </div>
                    </div>
                    {% if review.verified == 1 %}
                        <div class="link text-center">
                            <a href="{{ review.link }}" class="mui-btn mui-btn--primary mui-btn--large">Try {{ review.title }}</a>
                        </div>
                    {% else %}
                        <h3 class="text-center">We do not offer links to scams, <br> and we highly recommend you not to invest in such websites</h3>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <div class="sidebar-widget top-methods">
                    <h3>Top 3 Money Makers</h3>
                    <ul class="recent-mm-list">
                        {% for post in posts %}
                            {% if post.verified == 1 %}
                                <li class="recent-mm-item">
                                    <div class="block-tag block-tag-verified block-tag-sm">VERIFIED</div>
                                    <span class="recent-mm-item-title">{{ post.title }}</span>
                                    <a href="/reviews/{{ post.id }}">Read More <span class="fa fa-angle-right"></span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-widget top-methods">
                    <h3 class="sidebar-header-sm">Recent Money Making Methods</h3>
                    <ul class="recent-mm-list">
                        {% for post in posts %}
                            <li class="recent-mm-item">
                                {% if post.verified == 1 %}
                                    <div class="block-tag block-tag-verified block-tag-sm">VERIFIED</div>
                                {% else %}
                                    <div class="block-tag block-tag-scam block-tag-sm">SCAM</div>
                                {% endif %}
                                <span class="recent-mm-item-title">{{ post.title }}</span>
                                <a href="/reviews/{{ post.id }}">Read More <span class="fa fa-angle-right"></span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebar-widget help-us-grow">
                    <h3 class="sidebar-header-sm">Help Us Grow</h3>
                    <p class="text-center">
                        subscribe now and receive our <strong>Internet Scam Manual</strong> <br>
                        which contain a fully described guide how to track internet scams <br>
                    </p>
                    <p class="text-center">
                        <a href="">Grab Your Manual Today <span class="fa fa-angle-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//cdn.muicss.com/mui-0.9.9/js/mui.min.js"></script>
<script src="js/home.js"></script>
</body>
</html>